﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Movie Manager - @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/css/solid.min.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css" />
	<link rel="stylesheet" href="~/lib/now-ui/css/now-ui-kit.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="vh-100 bg-dark">
	<div class="d-flex flex-row bg-dark p-3 mb-0 border-bottom text-primary sticky-top">
		<h1 class="text-uppercase mb-0">Movie Manager</h1>
	</div>
	<div class="d-flex flex-row h-100">
		<div class="nav flex-column nav-pills border-right h-100">
			<a id="nav-thumbnailView" class="nav-link nav-pills text-uppercase active" data-toggle="pill" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#mainContent" asp-area="" asp-controller="Movie" asp-action="ThumbnailView">Thumbnails</a>
			<a id="nav-listView" class="nav-link nav-pills text-uppercase" data-toggle="pill" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#mainContent" asp-area="" asp-controller="Movie" asp-action="ListView">List</a>
			<a id="nav-detailListView" class="nav-link nav-pills text-uppercase" data-toggle="pill" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#mainContent" asp-area="" asp-controller="Movie" asp-action="DetailListView">Details</a>
			<div class="border-bottom"></div>
			<a id="nav-add" class="btn-round btn-primary m-3 text-uppercase align-self-center nav-link" data-toggle="modal" data-target="#movieView" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#movieViewContent" asp-area="" asp-controller="Movie" asp-action="AddMovie">Add</a>
		</div>
		<div id="mainContent" class="d-flex flex-column flex-fill pl-4 pt-3 pr-3 pb-4 overflow-auto w-100 h-100">
			@RenderBody()
		</div>
		<div id="movieView" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div id="movieViewContent" class="modal-content bg-secondary text-primary">
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex flex-row bg-dark p-3 border-top text-muted fixed-bottom">
		&copy; 2020 - Movie Manager
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="~/lib/now-ui/js/now-ui-kit.js"></script>
	<script type="text/javascript" src="~/lib/fontawesome/js/solid.min.js"></script>
	<script type="text/javascript" src="~/lib/fontawesome/js/fontawesome.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
