﻿@model MonkeyAsylum.MovieManager.Data.Models.Movie

@if (!(bool)(ViewData["BodyOnly"] ?? false)) {
	<div class="modal-header">
		<h5 class="modal-title" id="title"><img class="d-inline-flex img-raised img-sm mr-2" src="~/cache/@Model.GetThumbnail()" alt="" />@(Model.Title ?? "New Movie")</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}
<div class="modal-body">
	<input id="IsInvalid" type="hidden" name="IsInvalid" value="@ViewData["IsInvalid"]" />
	<form id="movieForm" method="post" asp-controller="Movie" asp-action="@ViewData["mode"]">
		<input id="IdField" type="hidden" asp-for="Id" />
		<div class="row">
			<div class="col text-danger" asp-validation-summary="All"></div>
		</div>
		<div class="row text-primary w-100 m-1">
			<div class="col-2 justify-content-end">Title:</div>
			<div class="col justify-content-start">
				<input id="TitleField" type="text" class="form-control" asp-for="Title" />
				@*<span class="text-danger" asp-validation-for="Title" data-valmsg="*"></span>*@
			</div>
		</div>
		<div class="row text-primary w-100 m-1">
			<div class="col-2 justify-content-end">Released:</div>
			<div class="col justify-content-start">
				<input id="ReleaseDateField" type="text" class="form-control" asp-for="ReleaseDate" />
				@*<div class="invalid-tooltip" data-toggle="tooltip">invalid tooltip</div>*@
				@*<span class="text-danger" asp-validation-for="ReleaseYear"></span>*@
			</div>
		</div>
		<div class="row text-primary w-100 m-1">
			<div class="col-2 justify-content-end">Length:</div>
			<div class="col justify-content-start">
				<input id="LengthField" type="text" class="form-control" asp-for="Length" />
			</div>
		</div>
		<div class="row text-primary w-100 m-1">
			<div class="col-2 justify-content-end">Rating:</div>
			<div class="col justify-content-start">
				<select id="RatingCode" class="form-control" asp-for="Rating.Code" asp-items="@ViewBag.AllRatings" onchange="updateRating(this, event);"></select>
				<input id="RatingName" type="hidden" asp-for="Rating.Name" />
				@*@Html.EditorFor(model => model.Rating)*@
			</div>
		</div>
	</form>
	<div id="searchResults"></div>
</div>
@if (!(bool)(ViewData["BodyOnly"] ?? false)) {
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-secondary" onclick="movieSearch(this);">Search TMDB</button>
	@*<div id="tmdbsearch">
			<button type="button" class="btn btn-secondary" onclick="movieSearch(this);" data-toggle="popover" data-placement="bottom" data-container="#tmdbsearch" data-content="test" data-title="pop">Search TMDB</button>
		</div>*@
	@if (ViewData["mode"] == "AddMovie") {
		<button type="button" class="btn btn-primary" onclick="movieSubmit(this);">Add</button>
	}
	else {
		<button type="button" class="btn btn-primary" onclick="movieDelete(this)">Delete</button>
		<button type="button" class="btn btn-primary" onclick="movieSubmit(this)">Save changes</button>
	}
</div>
	<script type="text/javascript">
		$.validator.unobtrusive.parse('#movieForm');
		enablepops('#movieViewContent');
	</script>
}