﻿@{
	Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<div class="row">
	@foreach (Movie item in Model) {
		<div class="col-4">
			<a class="text-primary text-left text-truncate text-nowrap" data-toggle="modal" data-target="#movieView" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#movieViewContent" asp-area="" asp-controller="Movie" asp-action="ViewMovie" asp-route-id="@item.Id"><i class="fas fa-film pr-1"></i>@item.Title</a>
		</div>
	}
</div>
