﻿@{
	Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@foreach (Movie item in Model) {
	<a class="text-primary text-left text-truncate text-nowrap" data-toggle="modal" data-target="#movieView" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#movieViewContent" asp-area="" asp-controller="Movie" asp-action="ViewMovie" asp-route-id="@item.Id">
		<div class="row align-items-center text-primary text-left text-truncate text-nowrap mb-2">
			<div class="col-6"><img class="d-inline-flex img-raised img-sm mr-2" src="~/cache/@item.GetThumbnail()" alt="" />@item.Title</div>
			<div class="col">Released: @item.ReleaseYear</div>
			<div class="col">Length: @item.Length</div>
			<div class="col">Rated: @(item.Rating?.Code ?? "Unknown")</div>
			<div class="col-2">Want</div>
		</div>
	</a>
}
