﻿@{
	Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<div class="row">
	@foreach (Movie item in Model) {
		<a class="" data-toggle="modal" data-target="#movieView" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#movieViewContent" asp-area="" asp-controller="Movie" asp-action="ViewMovie" asp-route-id="@item.Id">
			<img class="d-inline-flex img-raised img-xl m-2" src="~/cache/@item.GetThumbnail()" alt="@item.Title Thumbnail" />
		</a>
	}
</div>
