﻿@model MonkeyAsylum.MovieManager.UI.Models.Tmdb.SearchResult
<div class="row justify-content-center">
	<img class="d-inline-flex img-raised img-md" src="@Model.GetPosterUrl()" alt="" />
</div>
<div class="row justify-content-center">
	<h5 class="text-center" onclick="applyTmdbData(this, '#TitleField', '@Model.Title');" data-toggle="tooltip" data-placement="left" title="Click to update current record">@Model.Title</h5>
</div>
<div class="row p-2">
	<div class="col" onclick="applyTmdbData(this, '#ReleaseDateField', '@Model.ReleaseDate.ToString("yyyy-MM-dd")');" data-toggle="tooltip" data-placement="left" title="Click to update current record">Released: @Model.ReleaseDate.ToString("yyyy-MM-dd")</div>
</div>
<div class="row p-2">
	<div class="col">@Model.Overview</div>
</div>
