﻿@model MonkeyAsylum.MovieManager.UI.Models.Tmdb.SearchResults

@if ((Model?.TotalResults ?? 0) >= 1) {
	<div id="serachResultsCarousel" class="carousel slide" data-interval="false">
		@if ((Model?.TotalResults ?? 0) > 1) {
			<ol class="carousel-indicators">
				<li data-target="#serachResultsCarousel" data-slide-to="0" class="active"></li>
				@for (int i = 1; i < Model.TotalResults; i++) {
					<li data-target="#serachResultsCarousel" data-slide-to="@i"></li>
				}
			</ol>
		}
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="m-4 p-2 pl-3 pr-3">
					<partial name="_SearchResult" for="Results[0]" />
				</div>
			</div>
			@for (int i = 1; i < Model.TotalResults; i++) {
				<div class="carousel-item">
					<div class="m-4 p-2 pl-3 pr-3">
						<partial name="_SearchResult" for="Results[i]" />
					</div>
				</div>
			}
		</div>
		@if ((Model?.TotalResults ?? 0) > 1) {
			<a class="carousel-control-prev" href="#serachResultsCarousel" role="button" data-slide="prev">
				<i class="now-ui-icons arrows-1_minimal-left"></i>
			</a>
			<a class="carousel-control-next" href="#serachResultsCarousel" role="button" data-slide="next">
				<i class="now-ui-icons arrows-1_minimal-right"></i>
			</a>
		}
	</div>
	<script type="text/javascript">
		enablepops("#serachResultsCarousel");
	</script>
}
else {
	<div>No Results</div>
}
